.aj-header__b
  background-color: #423d3de0;
  color: #fff;
  padding: 4px;

.aj-header__a
  position relative
  padding 8px;
  color: #fff;
  background-color: rgba(76, 70, 70, 0.6);
  
.aj-header__a__info
  width: 100%;
  height: 100%;
  justify-content: center;

.aj-header__a__background
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: -1
  filter: blur(10px)