// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";

//! 只能引入一次
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-elm-primary: mat-palette($mat-blue); // primary
$ng-elm-accent: mat-palette($mat-pink, A200, A100, A400); // secondary

// The warn palette is optional (defaults to red).
$ng-elm-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ng-elm-theme: mat-light-theme($ng-elm-primary, $ng-elm-accent, $ng-elm-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ng-elm-theme);

// ajanuw design
$ajanuw-primary: mat-palette($mat-purple);
$ajanuw-secondary:  mat-palette($mat-amber, A200, A100, A400);
$ajanuw-warn:    mat-palette($mat-deep-orange);
$ajanuw-theme:   mat-dark-theme($ajanuw-primary, $ajanuw-secondary, $ajanuw-warn);

.mat-ajanuw-theme {
  @include angular-material-theme($ajanuw-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
